__pycache__/
args/
config*/
vcf_data/*
*.sh
.vscode/
models/
genome
simulation/phenosim
myenv/
simulation/data/
results/*
vcf_data
logs/*
metrics/*
causal/run_result/*
causal/simloader/*
causal_None/run_result/*
causal_None/simloader/*
visualize_net.py